<div class="login-container">
  <div class="login-card">
    <div class="login-header">
  <img
    class="logo-imagem"
    src="assets/easyvacc.png" 
    alt="Logo EasyVacc">
  <h1>Sistema de Gestão de Vacinas</h1>
  <p>EasyVacc</p>
</div>

    <form (ngSubmit)="login()" class="login-form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="credentials.email"
          placeholder="seu.email@hospital.com"
          required
          [disabled]="loading"
        />
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          name="senha"
          [(ngModel)]="credentials.senha"
          placeholder="Digite sua senha"
          required
          [disabled]="loading"
        />
      </div>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>

      <button type="submit" class="btn-login" [disabled]="loading">
        <span *ngIf="!loading">Entrar</span>
        <span *ngIf="loading">Entrando...</span>
      </button>
    </form>

    <div class="demo-credentials">
      <p><strong>Credenciais de demonstração:</strong></p>
      
      <div class="credential-item">
        <strong>Enfermeiro:</strong> enfermeiro@hospital.com / 123456
      </div>
      
      <div class="credential-item">
        <strong>Farmacêutico:</strong> farmaceutico@hospital.com / 123456
      </div>
      
      <div class="credential-item">
        <strong>Administrador:</strong> admin@hospital.com / 123456
      </div>
      
      <div class="credential-item">
        <strong>Paciente:</strong> paciente@hospital.com / 123456
      </div>
    </div>
  </div>
</div>